.nav{
    margin: 0;
    padding: 0;
    grid-area: n;
    padding: 2%;
    padding-bottom: 0;
}

.links div{
    width: 8vh;
}

.links a{
    display: block;
    width: 5.5vh;
    height: 5.5vh;
    background: #18191f;
    line-height: 6vh;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: -2px -2px 3px rgba(255,255,255,0.05),
                3px 3px 3px rgba(0,0,0,0.2);
    font-size: 2.5vh;
    color: #555555
}

.text{
    font-size: 3vh;
    color: rgb(192, 167, 167);
    text-shadow: -2px -2px 3px rgba(49, 204, 18, 0.1),
                3px 3px 3px rgba(0,0,0,0.2);
    transform: translate(10vh,-8.8vh);
}

.links a:hover, .text:hover{
    color: #00f3ff;
    text-shadow: 0 0 15px #00f3ff;
    transition: 0.3s;
}

.profile a:hover{
    color: #03f803;
    text-shadow: 0 0 15px #03f803;
}

.news a:hover{
    color: #fd0dc9;
    text-shadow: 0 0 15px #fd0dc9;
}

.music a:hover{
    color: #e5ff00;
    text-shadow: 0 0 15px #e5ff00;
}

.settings a:hover{
    color: #00ff6a;
    text-shadow: 0 0 15px #00ff6a;
}

hr {
    margin-top: 5vh;
    border: none; /* Убираем границу */
    background-color: rgb(75, 110, 224); /* Цвет линии */
    color: rgb(91, 110, 214); /* Цвет линии для IE6-7 */
    height: 4px; /* Толщина линии */
}