.nav{
    margin: 0;
    padding: 0;
    grid-area: n;
    padding: 2%;
    padding-bottom: 0;
}

.item a {
    color: rgb(48, 43, 105);
    outline: none;
    text-decoration: none;
    display: flex;
    padding: 1vh;
    padding-left: 35px;
    border-radius: 7px;
    transition: color 0.15s linear;
}

.item a:hover{
    color: rgb(6, 7, 87);
}

.item a.active{
    background-color: #8bd484;
}

.item {
    margin: 2px;
    background-color: #bbdefa;
    transition: background-color 0.15s linear;
    border-radius: 7px;
}

.item:hover {
    background-color: #a5afe9;
}

hr {
    margin-top: 5vh;
    border: none; /* Убираем границу */
    background-color: rgb(75, 110, 224); /* Цвет линии */
    color: rgb(91, 110, 214); /* Цвет линии для IE6-7 */
    height: 4px; /* Толщина линии */
}