.app-wrapper{
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c"
  ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1vh; 

}

.app-wrapper-content{
  position: absolute;
  grid-area: c;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 90%;
  background: rgba(168, 6, 231, 0.2);
  margin-bottom: 1vh;
  margin-right: 1vh;
  border-radius: 2vh;
}