.dialogs{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 4vh;
}

.dialogsItems {
    width: 30%;
    position: relative;
    margin: 1vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding-right: 12vw;    
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 20px;
}

.dialogsItems::before{
    border-radius: 20px;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    opacity: 0.3;
    z-index: -1;
}


.dialogsItems::before,
.dialogsItems::after{
    background: linear-gradient(235deg, #a465ec88, #060818, #00bcd4);
}

.dialog{
    width: 200%;
    position: relative;
}

.dialog::before{
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
    right: -5.5vw;
    bottom: 4px;
    background: #fff;
    opacity: 0.07;
    z-index: -1;
}

.dialog a{
    text-decoration: none;
    outline: none;
}

.dialogs .dialog{
    display: flex;
    
}

.dialog .ava{
    width: 6vh;
    height: 6vh;
    border-radius: 2vh;
}

.dialog .nameLink{
    margin: auto;
    margin-left: 2vh;
}

.dialog a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3vw;
    margin-left: 15px;
    text-shadow: 0 0 15px #00f3ff;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    color: rgb(0, 225, 255);
    text-decoration: none;
    outline: none;
}

@media all and (max-width: 1200px) {
    .dialog a{
        padding-left: 6vw;
        font-size: 20px;
    }
  }

.dialog a:visited{
    text-decoration: none;
    outline: none;
}

.dialog a:hover{
    color: rgb(250, 157, 237);
}

.dialog, .message{
    padding: 2vh;
    padding-left: 2vw;
}

.dialog a.active {
    color: white;
}

.dialog a.active.nameLink{
    color: rgb(255, 255, 255);
}

.messages{
    position: relative;
    margin: 1vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-right: 9vh;
    width: 100%;
    color: white;
}

.messages::before{
    border-radius: 20px;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    opacity: 0.3;
    z-index: -1;
}

.messages::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.messages::before,
.messages::after{
    background: linear-gradient(235deg, #00bcd4, #060818, #a465ec88);
}

.container{
    position: relative;
    margin-top: 100px;
    max-width: 500px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.chatHead{
    position: absolute;
    width: 100%;
    height: 10%;
   /* background: linear-gradient(235deg, #af02ff, #424c99, #f325f388);*/
    border-radius: 15px;
}

.chatHead::before{
    content: '';
    background: linear-gradient(235deg, #af02ff, #424c99, #f325f388);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 15px;
    opacity: 0.4;
    z-index: 0;
}

.textArea{
    width: 80%;
    height: 10vh;
    position: absolute;
    right: 20px;
    bottom: 20px;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    font-size: 25px;
    border-radius: 8px;
    color: #fff;
}
.messageInput{
    
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0;
}