.dialogs{
    display: flex;
    width: 100%;
    padding-top: 3vh;
    
}

.dialogsItems{
    width: 25vw;
    text-decoration: none;
}

.dialogsItems a{
    text-decoration: none;
    outline: none;
}

.dialogsItems a:hover{
    color: rgb(6, 7, 87);
}

.dialog{
    padding: 0.5vh;
    padding-left: 5vh;
}

.dialogsItems .active {
    color: white;
}

.messages{

}

.message{

}