.dialogs{
    display: flex;
    width: 100%;
    padding-top: 3vh;
}

.dialogsItems {
    width: 25vw;
}

.dialog a{
    text-decoration: none;
    outline: none;
}

.dialogs .dialog{
    display: flex;
    
}

.dialog .ava{
    width: 6vh;
    height: 6vh;
    border-radius: 2vh;
}

.dialog .nameLink{
    margin: auto;
    margin-left: 2vh;
}

.dialog a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
    outline: none;
}

.dialog a:hover{
    color: rgb(0, 0, 0);
}

.dialog, .message{
    padding: 2vh;
    padding-left: 2vw;
}

.dialog a.active {
    color: white;
}

.messages{
    color: white;
}
